---
title: AEM Cloud Manager-testresultaten analyseren
description: De resultaten van rapporten van AEM Cloud Manager verkennen en corrigeren
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
duration: 342
source-git-commit: f4c621f3a9caa8c2c64b8323312343fe421a5aee
workflow-type: tm+mt
source-wordcount: '72'
ht-degree: 0%

---

# Testresultaten analyseren {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Testresultaten analyseren"
>abstract="Bekijk eventuele compilatiefouten in uw code en bepaal of deze code de beste praktijken voor AEM as a Cloud Service volgt"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="De testresultaten begrijpen"

Verken eventuele compilatiefouten in uw code en bepaal of deze code de beste praktijken voor AEM as a Cloud Service volgt

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
