---
title: 'Testresultaten AEM Cloud Manager analyseren '
description: De resultaten van rapporten van AEM Cloud Manager verkennen en corrigeren
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# Testresultaten analyseren

Onderzoek om het even welke compilatiefouten in uw code en of deze code best practices voor AEM als Cloud Service volgt of niet

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)