---
title: 'Testresultaten AEM Cloud Manager analyseren '
description: De resultaten van rapporten van AEM Cloud Manager verkennen en corrigeren
role: Developer
level: Beginner
type: Tutorial
topic: Ontwikkeling
feature: Gereedschappen voor ontwikkelaars
kt: 6917
thumbnail: 330540.jpg
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '84'
ht-degree: 5%

---


# Testresultaten analyseren

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Testresultaten analyseren"
>abstract="IExeer om het even welke compilatiefouten in uw code en of deze code best practices voor AEM als Cloud Service volgt of niet"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Inzicht in de testresultaten"

Onderzoek om het even welke compilatiefouten in uw code en of deze code best practices voor AEM als Cloud Service volgt of niet

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
