---
title: Testresultaten AEM Cloud Manager analyseren
description: De resultaten van rapporten van AEM Cloud Manager verkennen en corrigeren
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: 30d6120ec99f7a95414dbc31c0cb002152bd6763
workflow-type: tm+mt
source-wordcount: '81'
ht-degree: 4%

---

# Testresultaten analyseren {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Testresultaten analyseren"
>abstract="IExeer om het even welke compilatiefouten in uw code en of deze code best practices voor AEM as a Cloud Service volgt"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Inzicht in de testresultaten"

Onderzoek om het even welke compilatiefouten in uw code en of deze code best practices voor AEM as a Cloud Service volgt of niet

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
